<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Upload Status</title>
</head>
<body>
<main>

    <div class="container py-5">
        <div class="row">
            <div class="col-10 mx-auto">
                <h1>File Upload Status</h1>
                <!--display error if any-->
                <div class="alert alert-danger" role="alert" th:if="${!status}">
                    <strong>Error:</strong>
                    <span th:text="${message}"></span>
                </div>

                <!--display users list-->
                <table class="table table-striped" th:if="${status}">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Date Shipped</th>
                        <th scope="col">Date Received</th>
                        <th scope="col">Style/Foot</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Code</th>
                        <th scope="col">Serial Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user, i : ${users}">
                        <th scope="row" th:text="${i.index + 1 + ' '}"></th>
                        <td th:text="${user.getProperties().get('Name')}"></td>
                        <td th:text="${user.getProperties().get('Size')}"></td>
                        <td th:text="${user.getProperties().get('Date Shipped')}"></td>
                        <td th:text="${user.getProperties().get('Date Received')}"></td>
                        <td th:text="${user.getProperties().get('Style/Foot')}"></td>
                        <td th:text="${user.getProperties().get('Quantity')}"></td>
                        <td th:text="${user.getProperties().get('Code')}"></td>
                        <td th:text="${user.getProperties().get('Serial Number')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</main>
</body>
</html>